*, ::before, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333B84;
    color: whitesmoke;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: #3d8132;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    padding-bottom: 60px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

            /* Config ScoreBoard */

.scoreBoard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: auto;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    gap: 1rem;
}

.gameInfos {
    font-size: 24px;
    line-height: 1.8em;
}

.choices, .scoreInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 4rem;
}

.choices {
    font-size: 80px;
    display: grid;
}

.scoreInfo {
    font-size: 36px;
}
            /* Config Buttons */

.containButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.btnChoice {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: #5C63A7;    
    font-size: 80px;
}

.btnChoice:hover {
    background-color: #828ac7;
}

#resultFinal {
    display: none;
}

.popUp {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 340px;
    height: 180px;
    margin-top: 1rem;
    background-color: #828ac7;
    border-radius: 10px;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.message {
    font-size: 28px;    
}

.btnRestart {
    height: 60px;
    width: 140px;
    font-size: 24px;
    background-color: #5C63A7;
    color: #F5F5F5;
    border-radius: 10px;
}